body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2C3E50;
    color: #FFFFFF;
    padding: 20px;
}

header h1 {
    margin: 0;
}

.topnav {
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #34495E;
    color: #FFFFFF;
}

.active {
    background-color: #E74C3C;
    color: white;
}

.content {
    padding: 20px;
}

footer {
    background-color: #34495E;
    padding: 20px;
    text-align: center;
    color: #FFFFFF;
}

.contentBOX {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1.5px solid #2C3E50;
    border-radius: 8px;
    max-width: 800px;
    text-align: center;
}

.intro {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    border: 3px solid #2C3E50;
    border-radius: 8px;
    max-width: 800px;
    text-align: center;
}

.intro-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.intro2 {
    flex: 1;
    padding: 20px;
    border: 3px solid #2C3E50;
    border-radius: 8px;
    margin: 30px;
    background-color: #f9f9f9;
}

.intro2 p {
    margin: 0;
}

.additional-info {
    margin: 20px 10px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f1f1f1;
}

#container {
    display: flex;
    justify-content: space-between;
}

#clicked-box,
#info-box,
#map-container {
    border: 1.5px solid #2C3E50;
    padding: 10px;
    background: #fff;
}

#clicked-box,
#info-box {
    width: 200px;
}

#map-container {
    overflow: hidden;
    flex-grow: 1;
    position: relative;
}

#choropleth {
    width: 100%;
    height: 100%;
}

#choropleth svg {
    text-align: left;
    border: 3px solid black;
    border-radius: 5px;
}

#buttons1 {
    margin-bottom: 5px;
}

#eu-button {
    margin-left: 10px;
    margin-right: 5px;
}
/* Button design from https://getcssscan.com/css-buttons-examples 
    Button design 79 used for EU zoom and Reset
*/
.button-79 {
    backface-visibility: hidden;
    background: #332cf2;
    border: 0;
    border-radius: .375rem;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Circular, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: -.01em;
    line-height: 1.3;
    padding: 1rem 1.25rem;
    position: relative;
    text-align: left;
    text-decoration: none;
    transform: translateZ(0) scale(1);
    transition: transform .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    padding: 5px;
}

.button-79:disabled {
    color: #787878;
    cursor: auto;
}

.button-79:not(:disabled):hover {
    transform: scale(1.05);
}

.button-79:not(:disabled):hover:active {
    transform: scale(1.05) translateY(.125rem);
}

.button-79:focus {
    outline: 0 solid transparent;
}

.button-79:focus:before {
    border-width: .125rem;
    content: "";
    left: calc(-1*.375rem);
    pointer-events: none;
    position: absolute;
    top: calc(-1*.375rem);
    transition: border-radius;
    user-select: none;
}

.button-79:focus:not(:focus-visible) {
    outline: 0 solid transparent;
}

.button-79:not(:disabled):active {
    transform: translateY(.125rem);
}

.flag-container {
    margin-top: 10px;
    text-align: center;
}

.countryName {
    text-align: center;
}

.selector1 {
    position: absolute;
    top: 15px;
    right: 100px;
}

.selector2 {
    position: absolute;
    top: 15px;
    right: 30px;
}